.dots-container {
  position: absolute;
  // bottom: 10%;
  // left: 50%;
  bottom: 8%;
  left: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;

  .dot {
    margin: 0 15px;
    cursor: pointer;
  }
}

