.carousel {
  visibility: visible;
  position: relative;
  margin: 0px auto;
  width: 1140px;
  height: 642px;
  overflow: hidden;

  .carousel-container {
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1140px;
    height: 642px;
  }
}

.carousel-item {
  opacity: 0;
  transition: opacity 1s;
}

.carousel-item.active {
  opacity: 1;
  transition: opacity 1s;
}

.action-icons {
  z-index: 5;
  color: white;
  position: absolute;
}

.left,
.right {
  position: absolute;
  top: 50%;
  font-size: 3rem;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.left {
  left: 5%;
}

.right {
  right: 5%;
}

img {
  width: 1140px;
  height: 642px;
  top: 0px;
  left: 0px;
  display: block;
  position: absolute;
  z-index: 1;
}

@media (max-width: 1150px) {
  .carousel {
    width: 980px;
    height: 555px;
    .carousel-container,
    .carousel-item,
    img {
      width: 980px;
      height: 555px;
    }
  }
}

@media (max-width: 990px) {
  .carousel {
    width: 750px;
    height: 435px;
    .carousel-container,
    .carousel-item,
    img {
      width: 750px;
      height: 435px;
    }
  }
}
